* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* main {
  max-width: 960px;
}

.info {
  width: 800px;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin-right: 5rem;
}

.info h1 {
  margin: 0 auto;
}

.matricula-input {
  max-width: 100%;
  padding: 10px;
  border-radius: 9px;
} */
/* main {
  width: 960px;
  align-items: center;
  margin: 0 auto;
} */
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 100%;
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
}

.matricula-input {
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.sendButton {
  padding: 10px 85px;
}

.header-index {
  align-items: center;
  text-align: center;
}

.qr-content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;

  img {
    height: 300px;
  }
}

@media(max-width: 800px) {
  .info {
    width: 600px;
  }
}

@media(max-width: 600px) {
  .info {
    width: 400px;
  }
}

@media(max-width: 400px) {
  .info {
    width: 320px;
  }
}